
*.dll
*.pdb
*.exe
bin/Debug/ReminderToast.exe.config
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ReminderToast.csproj.CopyComplete
obj/Debug/ReminderToast.csproj.CoreCompileInputs.cache
obj/Debug/ReminderToast.csproj.FileListAbsolute.txt
obj/Debug/ReminderToast.csproj.GenerateResource.cache
obj/Debug/ReminderToast.csprojAssemblyReference.cache
obj/Debug/ReminderToast.Properties.Resources.resources
obj/Debug/ReminderToast.Toast.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/project.assets.json
obj/ReminderToast.csproj.nuget.cache
obj/ReminderToast.csproj.nuget.g.props
obj/ReminderToast.csproj.nuget.g.targets
ReminderToast.csproj
remind-icon.ico
Resources/AppIcon.ico
Resources/create-Button.ico
Resources/remind-icon.png
